{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <div class="logo-name">
        <div class="title-container">
            <a id="logo-link" href="{% url 'index' %}">
                <h1 class="mc">Forum Community</h1> </a>
            <button>Rules</button>
            <button>Contact Us</button>
        </div>
        <div class="button-container">
            <input type="text" class="search-bar" placeholder="Search...">
            <button id="theme-toggle">🌙</button>
        </div>
    </div>
    <hr>

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}

    <div class="profile-section">
        <div class="profile-picture">
            
            {% if profile_pic %}
            <img id="profile_pic" name="profile_pic" src="{{ profile_pic.url }}" alt="{{ user.username }}">
            {% else %}
                <img id="profile_pic" src="{% static 'images/default-profile-pic.jpg' %}" alt="{{ user.username }}">
            {% endif %}

            <!-- Hidden input for file upload -->
            <input type="file" id="file-input"  name="profile_pic" style="display:none;">

            
        </div>
        <div class="upload-button">
            <button type="button" id="upload-button">Select Image</button>
            <button type="submit">Save Changes</button>
        </div>
        </div>
        </form>
        <form class="profile-form" method="post">
            {% csrf_token %}
            <label for="email">Change your Email:</label>
            <input type="email" id="email" name="dashboard_email" placeholder="Enter your new email">

            <label for="password">Change your Password:</label>
            <input type="password" id="password" name="dashboard_password" placeholder="Enter your new password">

            <button type="submit">Save Changes</button>
        </form>
        <div class="account-created">
            Account created on: <span id="creation-date">{{ account_data }}</span>
        </div>
    </div>

    <script src="{% static 'js/scripts.js' %}"></script>
</body>
</html>
