{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Forum Community</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
  </head>
  <body>
    <div class="logo-name">
      <div class="title-container">
        <a id="logo-link" href="{% url 'index' %}">
          <h1 class="mc">Forum Community</h1>
        </a>
        <h4>Rules</h4>
        <h4>Contact Us</h4>
      </div>
      <div class="button-container">
        <input type="text" class="search-bar" placeholder="Search..." />
        <button id="theme-toggle">🌙</button>
        {% if user.is_authenticated %}
        <div class="profile-button" onclick="toggleDropdown()">
          {% if profile_pic %}
          <img src="{{ profile_pic }}" alt="{{ user.username }}" />
          {% else %}
          <img
            src="{% static 'images/default-profile-pic.jpg' %}"
            alt="{{ user.username }}"
          />
          {% endif %}
          <span>{{ user.username }}</span>
        </div>
        <div class="dropdown-menu" id="dropdown-menu">
          {% if user.is_authenticated %}
          <a href="{% url 'dashboard_view' user.username %}">Dashboard</a>
          {% endif %}
          <a href="{% url 'logout' %}">Logout</a>
        </div>
        {% else %}
        <button onclick="openLoginModal()">Log In</button>
        <button onclick="openSignUpModal()">Sign Up</button>
        {% endif %}
      </div>
    </div>
    <hr />

    <!-- MAKE AJAX REQUEST TO SEND REPLY WITHOUT REFRESHING THE PAGE

https://chatgpt.com/c/72bb9e22-dca5-44b5-8b1e-24b464128585 -->

    <div class="post-container">
      <small id="post_info" name="post_info>">
        Posted by {{ post.user }} on {{ post.created_at }}
      </small>
      <h2 id="post-title">{{ post.post_title }}</h2>
      <p id="post-title">{{ post.description }}</p>
      {% if request.user.username == post.user.usrname %}
      <button
        id="delete-post"
        style="margin-left: 20px"
        onclick="delete_post('{{ post.post_id }}')"
      >
        Delete Post
      </button>
      {% endif %}
      <button
        id="report-post"
        style="margin-left: 20px"
        onclick="report_post()"
      >
        Report Post
      </button>
      <button
        id="reply-post"
        style="margin-left: 20px"
        onclick="scrollToReply()"
      >
        Reply Post
      </button>
      <br />
      <hr />
      <div class="all-post-replies" id="replies-container-{{ post.id }}">
        {% for reply in replies %}
        <!-- To show all in once use post.replies.all -->
        <!-- https://developer.mozilla.org/en-US/docs/Learn/HTML/Howto/Use_data_attributes-->
        <div class="reply" data-reply-id="{{ reply.id }}">
          <p>{{ reply.reply_text }}</p>
          <div class="dropdownPosts">
            <!-- three dots -->
            <ul
              class="dropdownbtn icons btn-right showLeft"
              onclick="showDropdown(event)"
            >
              <li></li>
              <li></li>
              <li></li>
            </ul>
            <!-- menu -->
            <div class="dropdownPost-content">
              {% if user.is_authenticated %}
              <a href="#reply" onclick="scrollToReply()">Reply</a>
              <a href="#share">Share</a>
              <a
                href="#delete"
                onclick="delete_reply('{{ reply.id }}', '{{ post.post_id }}')"
                >Delete</a
              >
              <a href="#report">Report</a>
              {% else %}
              <a href="#share">Share</a>
              {% endif %}
            </div>
          </div>
          <!-- to redirect when other user want to see user profile, create specific html page for it...send data from views.py to that page-->
          <small
            >Replied by:
            <b> <a href="#redirect_userprofile">{{ reply.user.usrname }}</a></b>
            at <b>{{ reply.created_at|date:"Y-m-d H:i:s" }}</b></small
          >
        </div>
        <hr />
        {% endfor %}

        <div class="pagination"></div>
        <span class="step-links">
          {% if replies.has_previous %} {# replies is page obj #}
          <a href="?page=1">&laquo; First</a>
          {# link to the prev page #}
          <a href="?page={{ replies.previous_page_number }}">Previous</a>
          {% endif %}

          <span class="current">
            Page {{ replies.number }} of {{ replies.paginator.num_pages }}.
          </span>

          {% if replies.has_next %}
          <a href="?page={{ replies.next_page_number }}">Next</a>
          <a href="?page={{ replies.paginator.num_pages }}">Last &raquo;</a>
          {% endif %}
        </span>
      </div>

      {% if user.is_authenticated %}
      <form class="reply-form" data-post-id="{{ post.id }}" method="post">
        {% csrf_token %}
        <textarea
          id="reply_text"
          name="replyarea"
          placeholder="Reply..."
        ></textarea>
        <button type="submit">Reply</button>
      </form>
      {% else %}
      <p id="pls-login">
        Please <a href="#" onclick="openLoginModal()">login</a> to reply.
      </p>
      {% endif %}
    </div>

    <!-- Login Modal -->
    <div id="loginModal" class="modal">
      <div class="modal-content">
        <span class="close" onclick="closeModal('loginModal')">&times;</span>
        <h2>Log In</h2>
        <form action="{% url 'login' %}" method="post">
          {% csrf_token %}
          <button>Sign in with Google</button>
          <input type="text" placeholder="Username" name="username" />
          <input type="password" placeholder="Password" name="password" />

          {% if login_error %}
          <div class="alert">{{ login_error }}</div>
          {% endif %}

          <div class="remember-me">
            <input type="checkbox" id="rememberMe" />
            <label for="rememberMe">Remember me</label>
          </div>

          <button type="submit">Sign In</button>
        </form>
        <a href="#" class="forgot-password">Forgot Password?</a>
        <p class="sign-up">
          Don't have an account?
          <a href="#" onclick="openSignUpModal()">Sign Up</a>
        </p>
      </div>
    </div>

    <!-- Sign Up Modal -->
    <div id="signUpModal" class="modal">
      <div class="modal-content">
        <span class="close" onclick="closeModal('signUpModal')">&times;</span>
        <h2>Sign Up</h2>
        {% if signup_error %}
        <div class="alert">{{ signup_error }}</div>
        {% endif %}
        <form
          action="{% url 'register' %}"
          method="post"
          enctype="multipart/form-data"
        >
          {% csrf_token %}
          <button>Sign in with Google</button>
          <input type="text" name="username" placeholder="Username" />
          <input type="email" name="email" placeholder="Email" />
          <input type="password" name="password" placeholder="Password" />
          <!-- <input type="file" name="profile_pic" placeholder="Profile Picture"> -->
          <div class="terms">
            <input type="checkbox" id="acceptTerms" />
            <label for="acceptTerms"
              >I accept the <a href="#">Privacy Policy</a> and
              <a href="#">Terms of Service</a></label
            >
          </div>
          <button type="submit">Sign Up</button>
        </form>
        <p class="log-in">
          Already have an account?
          <a href="#" onclick="openLoginModal()">Log In</a>
        </p>
      </div>
    </div>

    <script src="{% static 'js/scripts.js' %}"></script>
  </body>
</html>
